<div class="slider">
    <div class="row control-text">
        <h4 class="text-white">Water on/off</h4>
        <span class="text-muted">Adjust water valve open threshold based on average sensor % humidity reading</span>
    </div>
    <div class="row control-form">
        <!-- <input
            type="text"
            name="somename"
            data-provide="slider"
            data-slider-orientation="horizontal"
            data-slider-min="0"
            data-slider-max="100"
            data-slider-step="1"
            data-slider-value="50"
            data-slider-tooltip="always"
            data-slider-tooltip_position="top"
            data-slider-selection="after"
            data-slider-handle="square"
        > -->
    </div>
</div>
