<div class="text">
    <h5>
        Welcome to Salesforce API interface. Use this tool to record useful queries before integrating them into the code.
    </h5>

    <br><br>

    <h6>To get started,</h6>
    <ul>
        <li>
            First, create a new Salesforce app and configure it to use SAML. Don't forget to add your Salesforce user account profile (or create a new profile) to the app that has sufficient access to account and data.
        </li>
        <li>
            Second, <a href="/setup">configure</a> this utility with your Salesforce app.
        </li>
        <li>
            Then, <a href="/login">authenticate</a> to Salesforce API before being able to execute any queries.
        </li>
        <li>
            Finally, navigate to <a href="/query">queries</a> to execute some SOQL searches. Use this reference document to get familiar with SOQL format and examples <br><a href="https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_query.htm">https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_query.htm</a>
        </li>
    </ul>
</div>
