<div class="list-group">
    <div class="post container" *ngFor="let post of data; index as i">
            <div (click)="openArticle(post)" class="row">
                <div class="col-4">
                    <img [src]="post.imageUrl || 'assets/no-image.png'" class="img-thumbnail" style="width: 150px; height: 150px;">
                </div>
                <div class="col-8">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 title">{{ post.title }}</h5>
                        <small>{{ post.postId }}</small>
                    </div>
                    <p class="mb-1">{{ post.description }}</p>
                </div>
            </div>
    </div>
</div>
    