<div class="nav">
  <div [ngClass]="collapsed ? 'collapse' : 'expanded'">
      <div class="bg-dark p-4">
          <!-- <div class="row nav-item">
              <nav-slider></nav-slider>
          </div> -->
          <div class="row nav-item">
              <nav-button [valve]="valve"></nav-button>
          </div>
      </div>
  </div>
  <div class="navbar navbar-dark bg-dark justify-content-between">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-text mr-lg-5">
        Water <a href="#" class="badge" [ngClass]="valve.isOpened ? 'badge-primary' : 'badge-danger'">{{ valve.text }}</a>
    </span>
  </div>
</div>
